<div id="delete_confirm_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">		
		<h3 id="myModalLabel">Delete Playlist</h3>
	</div>
	
	<div class="modal-body">
		<p>Are you sure to delete this Playlist?</p>
	</div>
	<div class="modal-footer">
		<input type="hidden" id="playlist_id" value="" />
		<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
		<button class="btn btn-primary delete">Yes</button>
	</div>
</div>