<div class="navbar">
	<div class="navbar-inner">    
		<ul class="nav">
			<li><a href="javascript:void(0);" id="playlist_list"><i class="icon-th icon-black"></i> Read Playlists</a></li>
			<li><a href="javascript:void(0);" id="create_playlist_form"><i class="icon-plus-sign icon-black"></i>Create Playlist</a></li>		  
		</ul>
	</div>
</div>

<div id="indicator" style="display: none; text-align: center;" class="loading_img">
	<img src="ui/img/indicator.gif"/>
</div>